default_language_version:
    python: python3.7

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: check-added-large-files
      args: ['--maxkb=1000']
    - id: check-merge-conflict
    - id: check-symlinks
    - id: flake8
      exclude: "^camphr/_vendor"

- repo: git@github.com:humitos/mirrors-autoflake.git
  rev: v1.1
  hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']

- repo: https://github.com/ambv/black
  rev: stable
  hooks:
  - id: black

- repo: local
  hooks:
    - id: isort
      name: isort
      language: system
      entry: poetry run isort
      types: [file, python]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v0.761'  # Use the sha / tag you want to point at
  hooks:
  - id: mypy
    exclude: "docs/"
