version: "3"
services: 
    mecab:
        build:
            dockerfile: dockerfiles/mecab/Dockerfile
            context: .
        command: poetry run pytest tests
        volumes:
          - type: bind
            source: ./camphr
            target: /app/camphr
          - type: bind
            source: ./tests
            target: /app/tests

    juman:
        build:
            dockerfile: dockerfiles/juman/Dockerfile
            context: .
        command: poetry run pytest tests
        volumes:
          - type: bind
            source: ./camphr
            target: /app/camphr
          - type: bind
            source: ./tests
            target: /app/tests
