[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
yq = "*"
pyyaml = "*"
rope = "*"
papermill = "*"

[packages]
spacy = "*"
mecab-python3 = "*"
pyknp = "*"
regex = "*"
jaconv = "*"
fire = "*"
pandas = "*"
sklearn = "*"
sklearn-crfsuite = "*"
mojimoji = "*"
spacy-pytorch-transformers = "*"
tensorflow = "==1.14"
bedoner = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
