[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
pyyaml = "*"
rope = "*"
hypothesis = "*"
pre-commit = "*"
pandas = "*"
hydra-core = "*"

[packages]
Cython = "*"
mecab-python3 = "*"
pyknp = {git = "https://github.com/ku-nlp/pyknp", ref = "master"}
jaconv = "*"
fire = "*"
mojimoji2 = "*"
spacy-transformers = {git = "https://github.com/tamuhey/spacy-pytorch-transformers",ref = "patch/xlnet-tokenizer"}
allennlp = {git = "https://github.com/allenai/allennlp",ref = "master"}
typing-extensions = "*"
pyyaml = "*"
scikit-learn = "*"
jsonschema = "*"
gensim = "*"
pyahocorasick = "*"
catalogue = "*"
cytoolz = "*"
more-itertools = "*"

[pipenv]
allow_prereleases = true

[scripts]
remove-unused-imports = "autoflake --in-place --remove-all-unused-imports -r scripts bedoner"
