[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
yq = "*"
pyyaml = "*"

[packages]
spacy = "*"
mecab-python3 = "*"
pyknp = "*"
regex = "*"
jaconv = "*"
fire = "*"
pandas = "*"
sklearn = "*"
sklearn-crfsuite = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
