[build-system]
requires = [ "poetry>=1.0.0",]
build-backend = "poetry.masonry.api"

[tool.versionup]
files = [ "camphr/VERSION.py",]
commit = true

[tool.poetry]
version = "0.9.1"
name = "camphr"
authors = [ "tamuhey <tamuhey@gmail.com>",]
description = "spaCy plugin for Transformers, Udify, Elmo, etc."
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/PKSHATechnology-Research/camphr"
repository = "https://github.com/PKSHATechnology-Research/camphr"
keywords = [ "spaCy", "nlp", "natural language processing", "transformers",]

[tool.isort]
skip = ".venv/**/*.py"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
known_first_party = "camphr"

[tool.poetry.dependencies]
python = "^3.7"
fire = ">=0.2.1,<1.0"
typing-extensions = ">=3.7.4"
more-itertools = "^8.8.0"
scikit-learn = ">=0.22,<0.25"
transformers = ">=3.0,<3.1"
torch = "^1.0"
pytokenizations = ">=0.4.8,<1.0"
pytextspan = ">=0.5.0,<1.0"
hydra-core = "^0.11.3"
hydra_colorlog = "^0.1.4"
dataclasses = "^0.6"
toolz = ">=0.10,<0.12"
pyyaml = "^5.4.1"
dataclass-utils = "^0.7.12"

[tool.poetry.extras]
all = [ "fugashi", "mojimoji", "pyknp", "mecab-python3", "ipadic",]
juman = [ "mojimoji", "pyknp",]
mecab = [ "mecab-python3", "fugashi", "ipadic",]

[tool.poetry.dev-dependencies]
pylint = "*"
pytest = "<6.2.3"
flake8 = "*"
hypothesis = "*"
pre-commit = "*"
toml = "^0.10.0"
sphinx = "*"
doc8 = "*"
mypy = "*"

[tool.poetry.scripts]
camphr = "camphr.cli.__main__:main"

[tool.poetry.dependencies.mojimoji]
version = "^0.0.11"
optional = true

[tool.poetry.dependencies.ipadic]
version = ">=1.0,<2.0"
optional = true

[tool.poetry.dependencies.fugashi]
version = ">=1.0,<2.0"
optional = true

[tool.poetry.dependencies.pyknp]
version = ">=0.4.2,<0.5"
optional = true

[tool.poetry.dependencies.mecab-python3]
version = ">=1.0,<1.1"
optional = true

[tool.poetry.dev-dependencies.isort]
extras = [ "toml",]
version = "^4.3.21"

[tool.poetry.dev-dependencies.black]
version = "*"
allow-prereleases = true

