[build-system]
requires = [ "poetry>=1.0.0",]
build-backend = "poetry.masonry.api"

[versionup]
files = "camphr/VERSION.py"
tag = true
commit = true

[tool.poetry]
version = "0.5.0.dev4"
name = "camphr"
authors = [ "tamuhey <tamuhey@gmail.com>",]
description = "spacy plugin"

[tool.isort]
skip = ".venv/**/*.py"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
known_first_party = "camphr"

[tool.poetry.dependencies]
python = ">=3.6.1,<3.8.0"
fire = "^0.2.1"
typing-extensions = ">=3.7.4"
pyahocorasick = "^1.4.0"
catalogue = "^1.0.0"
more-itertools = "*"
scikit-learn = "^0.22"
transformers = "^2.3.0"
torch = "^1.0"
pytokenizations = ">=0.4.8"
spacy = "^2.2.3"
hydra-core = "^0.11"
hydra_colorlog = "*"
dataclasses = "^0.6"
toolz = "^0.10.0"

[tool.poetry.extras]
all = [ "allennlp", "Cython", "mojimoji2", "pyknp", "mecab-python3", "udify"]
allennlp = ["allennlp"]
udify = ["allennlp", "udify"]
juman = [ "Cython", "mojimoji2", "pyknp",]
mecab = [ "mecab-python3" ]
optuna = ["optuna"]

[tool.poetry.dev-dependencies]
pylint = "*"
pytest = "<5.3.3"
flake8 = "*"
pyyaml = "*"
rope = "*"
hypothesis = "*"
pre-commit = "*"
toml = "^0.10.0"
sphinx = "*"
doc8 = "*"
mypy = "*"

[tool.poetry.scripts]
camphr = "camphr.cli.__main__:main"

[tool.poetry.dependencies.allennlp]
git = "https://github.com/allenai/allennlp"
rev = "b8fdc9c988e0fbb73acd73205c4c464f8cf5a9c3"
optional = true

[tool.poetry.dependencies.udify]
git = "https://github.com/tamuhey/udify"
branch = "library"
optional = true

[tool.poetry.dependencies.Cython]
version = "*"
optional = true

[tool.poetry.dependencies.mojimoji2]
version = "*"
optional = true

[tool.poetry.dependencies.pyknp]
git = "https://github.com/ku-nlp/pyknp"
branch = "master"
optional = true

[tool.poetry.dependencies.mecab-python3]
version = "^0.996.3"
optional = true

[tool.poetry.dev-dependencies.isort]
extras = [ "toml",]
version = "^4.3.21"

[tool.poetry.dev-dependencies.black]
version = "*"
allow-prereleases = true

[tool.poetry.plugins.spacy_languages]
ja_juman = "camphr.lang.juman:Japanese"
ja_mecab = "camphr.lang.mecab:Japanese"
camphr_torch = "camphr.lang.torch:TorchLanguage"

[tool.poetry.dependencies.optuna]
version = "^1.0"
optional = true

[tool.poetry.plugins.spacy_factories]
transformers_model = "camphr.pipelines.transformers:TrfModel.from_nlp"
transformers_ner = "camphr.pipelines.transformers:TrfForNamedEntityRecognition.from_nlp"
transformers_sequece_classifier = "camphr.pipelines.transformers:TrfForSequenceClassification.from_nlp"
transformers_tokenizer = "camphr.pipelines.transformers:TrfTokenizer.from_nlp"
juman_sentencizer = "camphr.pipelines.knp:juman_sentencizer_factory"
knp = "camphr.pipelines.knp:KNP.from_nlp"
udify = "camphr.pipelines:Udify.from_nlp"
elmo = "camphr.pipelines:Elmo.from_nlp"
pattern_searcher = "camphr.pipelines:PatternSearcher"
multiple_regex_ruler = "camphr.pipelines:MultipleRegexRuler.from_nlp" 
regex_ruler = "camphr.pipelines:RegexRuler.from_nlp" 
