name: daily-test

on: 
  schedule: 
    - cron: "0 0 * * *"

jobs:
  test:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6, 3.7]
        os: [ubuntu-latest, macos-latest]
        extras: [udify, elmo, none]
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        git config --global url."https://github.com/".insteadOf "git@github.com:"
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: python -m pip install -U pip setuptools poetry
    - name: Install dependencies
      run: |
        poetry update
        poetry install
    - name: Install udify
      run: |
        poetry run python scripts/download_model.py en_udify
        poetry install -E udify
    - name: Install elmo
      run: |
        poetry run python scripts/download_model.py en_elmo_medium
        poetry install -E allennlp
    - run: poetry run mypy camphr
    - run: poetry run flake8
    - name: Run pytest
      run: poetry run pytest
      if:  matrix.extras == 'none'
    - name: Run pytest for extras
      run: poetry run pytest --runslow -rs -k ${{ matrix.extras }}
      if: matrix.extras != 'none'
    - name: Git commit and push
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git remote add github "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
        git add .
        git commit -m "Update dependencies"
        git push github HEAD:${GITHUB_REF}

