name: test

on: 
  push:
    paths-ignore:
      - "docs/**"
  pull_request:
    paths-ignore:
      - "docs/**"

jobs:
  build:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6, 3.7]
        os: [ubuntu-latest, macos-latest]
        extras: [udify, elmo, none]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: python -m pip install -U pip setuptools poetry
    - name: Cache Poetry virtualenv
      uses: actions/cache@v1
      id: cache
      with:
        path: ~/.virtualenvs
        key: poetry-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.extras }}-${{ hashFiles('poetry.lock') }}
    - name: Set Poetry config
      run: |
        poetry config virtualenvs.in-project false
        poetry config virtualenvs.path ~/.virtualenvs

    - name: Install dependencies
      run: poetry install
      if: steps.cache.outputs.cache-hit != true

    - name: Install udify
      run: |
        poetry run python scripts/download_model.py en_udify
        poetry install -E udify
      if: steps.cache.outputs.cache-hit != true && ${{ matrix.extras }} == "udify"

    - name: Install elmo
      run: |
        poetry run python scripts/download_model.py en_elmo_medium
        poetry install -E allennlp
      if: steps.cache.outputs.cache-hit != true && ${{ matrix.extras }} == "elmo"

    - run: poetry run mypy camphr
    - run: poetry run flake8

    - name: Run pytest
      run: poetry run pytest
      if:  matrix.extras == 'none'

    - name: Run pytest for extras
      run: poetry run pytest --runslow -rs -k ${{ matrix.extras }}
      if: matrix.extras != 'none'
