name: test subpackages

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  POETRY_VERSION: 1.1.5

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: [ubuntu-latest, macos-latest]
        subpackage: [camphr_cli, camphr_embedrank, camphr_pattern_search]
    defaults:
      run:
        working-directory: subpackages/${{ matrix.subpackage }}
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        git config --global url."https://github.com/".insteadOf "git@github.com:"
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install poetry
      run: python -m pip install -U pip setuptools poetry==${POETRY_VERSION}
    - name: Cache Poetry virtualenv
      uses: actions/cache@v1
      id: cache
      with:
        path: ~/.virtualenvs
        key: poetry-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.subpackage }}-${{ hashFiles('poetry.lock') }}
    - name: Set Poetry config
      run: |
        poetry config virtualenvs.in-project false
        poetry config virtualenvs.path ~/.virtualenvs
    - name: Install dependencies
      run: | 
        poetry run pip install -U pip
        poetry update
        poetry install
      if: steps.cache.outputs.cache-hit != true

    - name: Run test
      run: ../../scripts/test.sh ${{ matrix.subpackage }}
